{% extends 'publicity_agency/index.html' %}
{% load staticfiles %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/articles.css' %}"/>
{% endblock stylesheet %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-left page-title">
			<div class="section-title">
				<p>articles</p>
				<span></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<img class="section-img" src="{% static 'img/articles.jpg' %}" alt="">
		</div>
	</div>
</div>
<div class="container">
{% for article in articles %}
	<div class="row article-item">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<span class="date">{{ article.date|date:'j N o' }}</span>
			<a href="{% url 'article_item' pk=article.pk %}" class="article-link">{{ article.title }}</a>
			<p class="article-preview">{{ article.preview }}</p>
		</div>
	</div>
{% endfor %}
</div>
{% endblock content %}