{% extends 'publicity_agency/index.html' %}
{% load staticfiles %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/articles.css' %}"/>
{% endblock stylesheet %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="com-md-12 col-sm-12 col-xs-12 text-left page-title">
			<div class="section-title">
				<p>articles</p>
				<span></span>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
{% for article in articles %}
	<div class="row article-item article-odd">
		<div class="col-md-3 col-sm-3">
			<img src="{% static 'img/article1.jpg'%}" class="article-img" alt="Comment créer une social room?">
		</div>
		<div class="col-md-9 col-sm-9">
			<a href="{% url 'article_item' pk=article.pk %}" class="article-link">{{ article.title }}</a>
			<p class="article-preview">{{ article.preview }}</p>
			<p class="date text-right">{{ article.date }}</p>
		</div>
	</div>
{% endfor %}
</div>
{% endblock content %}