{% extends 'publicity_agency/index.html' %}
{% load staticfiles %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/order.css' %}"/>
{% endblock stylesheet %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="order-confirmation">
					<i class="fa fa-check" aria-hidden="true"></i>
					<p>Merci, votre commande a été accepté. Dans 15 minutes notre manager vous contactera.</p>
				</div>
				<p class="text-center back-homepage"><a href="{% url 'home'%}">Retour à la page d'accueil </a></p>
			</div>
		</div>
	</div>
{% endblock content %}